{% extends 'site/base.html' %}

{% load static %}

{% block title %}Início{% endblock title %}

{% block main %}
<section class="home">
    <div class="home-title">
        <h1>
            GARANTA SEU EMPREGO
        </h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis repellendus a qui magnam rem, praesentium,
            nobis perferendis accusamus odit ad doloremque. Earum veritatis magni, culpa iste expedita sed cupiditate
            illo!
        </p>

        <div class="box-home-btn">
            <a class="home-btn" href="">Procuro um emprego</a>
            <a class="home-btn" href="">Procuro um funcionario</a>
        </div>
    </div>
</section>
{% endblock main %}