{% extends 'site/base.html' %}

{% load static %}

{% block title %}Início{% endblock title %}

{% block main %}
<section class="home-page">
    <div class="home-title-container">
        <h1>Procurando um vaga?</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At autem sed earum veritatis. Aspernatur odit
            repellendus cumque explicabo assumenda ipsa doloribus sequi quos. Aspernatur eos nulla obcaecati fugit
            perspiciatis. Eos.</p>
    </div>

    <div class="home-links-container">
        <a href="{% url 'login_page' %}">Pessoa Jurídica</a>
        <a href="#">Pessoa Física</a>
    </div>
</section>
{% endblock main %}