{% extends 'site/base.html' %}

{% load static %}

{% block title %}Início{% endblock title %}

{% block main %}
<section class="home-page">
    <div id="opaco" class="container bg-light rounded p-5 shadow">
        <h1 class="text-center text-dark">
            PROCURANDO POR UM EMPREGO?
        </h1>
        <p class="fs-5 text-center text-dark">
            Procurando oportunidades de emprego? Conheça a 'Vaga Para Você'! Somos a solução para quem busca uma
            carreira de sucesso. Com um amplo banco de vagas e um sistema de matching avançado, conectamos candidatos
            talentosos às empresas que mais combinam com seus perfis. Cadastre-se agora e dê um salto em sua carreira
            com a 'Vaga Para Você'. Encontre o emprego dos seus sonhos, hoje mesmo!
        </p>

        <div class="d-flex justify-content-center align-items-center">
            <a class="btn btn-color-primary mx-2 shadow" href="{% url 'login_page' %}" role="button">FAÇA LOGIN</a>
            <span class="text-dark"> ou </span>
            <a class="btn btn-color-primary mx-2 shadow" href="{% url 'register_page' %}" role="button">CADASTRE-SE</a>
        </div>
    </div>
</section>
{% endblock main %}