<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>{% include 'site/partials/_head.html' %}
<title>Vagas Para Voce - {% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'site/partials/_navbar.html' %}

    <main>
        {% block main %}{%endblock main%}
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>

    </main>

    {% include 'site/partials/_footer.html' %}
    {% include 'site/partials/_scripts.html' %}
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget();
    </script>
</body>

</html>